*.py[cod]

# Test files
DogBot/command/test.py

# Eclipse Project file
.project
.pydevproject
.settings

# IntelliJ Project file
.idea
DogBot.iml

# Launcher
run.bat

# Log
exception.log

# Database
DogBot.db

# Config
config.json

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
